html {
  overflow: scroll;
}

body,
p,
figure {
  margin: 0;
}

figure {
  top: 50%;
  width: 100%;
  height: 360px;
  margin-top: -180px;
  position: absolute;
}

figcaption {
  margin-top: 0.5rem;
}
figcaption p {
  font-size: 90%;
  padding-left: 0.5rem;
}

video,
canvas {
  display: block;
  background: #f0f;
}
