html {
  overflow: scroll;
}

body,
p,
figure {
  margin: 0;
}

figure {
  top: 50%;
  width: 100%;
  height: 360px;
  cursor: pointer;
  margin-top: -180px;
  position: absolute;
}

a {
  width: 100%;
  height: 100%;
  width: 640px;
  display: block;
  position: absolute;
}

a:before,
a:after {
  top: 50%;
  left: 50%;

  width: 0;
  height: 0;
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
}

a:before {
  border: 1.5em solid transparent;
  border-left-width: 2.5em;
  border-left-color: rgba(255, 255, 255, .7);
}

a:after {
  border: 0;
}

figcaption {
  margin-top: 0.5rem;
}

figcaption p {
  font-size: 90%;
  padding-left: 0.5rem;
}

canvas {
  display: block;
  background: #000;
}

.is-iframe {
  overflow: hidden;
}

.is-iframe figure {
  top: 0;
  margin: 0;
}

.is-iframe figcaption {
  display: none;
}

.is-iframe a,
.is-iframe canvas {
  width: 100%;
  max-width: 100%;
}

.is-iframe a {
  height: 0;
  font-size: 10px;
  padding-bottom: 56.25%;
}

.is-playing a:before,
.is-playing a:after {
  border: 0;
  background: rgba(255, 255, 255, .7);
}

.is-playing a:before {
  margin-left: -1.5em;
}

.is-playing a:hover:before,
.is-playing a:hover:after {
  width: 1em;
  height: 3em;
}

@media screen and (min-width: 500px) {
  .is-iframe a {
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  .is-iframe a {
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  .is-iframe a {
    font-size: 1rem;
  }
}
