body {
  box-sizing: border-box;
  font: 16px/1.25 arial, sans-serif;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
}

small {
  font-size: 0.75rem;
}

p {
  font-size: 0.875rem;
  margin: 0;
}

figure {
  left: 50%;
  margin: -180px 0 0 -320px;
  position: absolute;
  text-align: center;
  top: 50%;
}

figcaption {
  margin: 0.5rem;
}

a {
  display: block;
  position: relative;
}

a::before,
a::after {
  box-sizing: border-box;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
}

a::before {
  border: 1.5em solid transparent;
  border-left-color: rgba(255, 255, 255, .7);
  border-left-width: 2.5em;
  margin-left: 0.75rem;
}

a::after {
  border: 0;
}

canvas {
  display: block;
}

.is-iframe {
  overflow: hidden;
}

.is-iframe figure {
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
}

.is-iframe figcaption {
  display: none;
}

.is-iframe a,
.is-iframe canvas {
  max-width: 100%;
  width: 100%;
}

.is-iframe a {
  font-size: 10px;
  height: 0;
  padding-bottom: 56.25%;
}

.is-playing a::before,
.is-playing a::after {
  background: rgba(255, 255, 255, .7);
  border: 0;
}

.is-playing a::before {
  margin-left: -0.75em;
}

.is-playing a::after {
  margin-left: 0.75em;
}

.is-playing a:hover::before,
.is-playing a:hover::after {
  height: 3em;
  width: 1em;
}

@media screen and (min-width: 500px) {
  .is-iframe a {
    font-size: 12px;
  }
}

@media screen and (min-width: 600px) {
  .is-iframe a {
    font-size: 16px;
  }
}

